.layoutWraper {
    border: 10px solid rgb(211, 211, 211);
    height: 600px;
    width: 750px;
    margin-left: 50px;
    background-color:   #e0e0e0;
    margin-top: 72px;
}
.headerBar {
    /* background-color: rgb(164, 168, 168); */
    height: 125px;
    width: 750px;
    padding: 1px;
}
.title {
    color: black;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 0px;
}
.version {
    color: rgb(150, 145, 145);
    margin-left: 30px;
    margin-top: 0px;
}
.gg {
    display: flex;
    margin-right: 10px;
}
input {
    border: 1px solid #e0e0e0;
}