.listWrapper {
    width: 50%;
    margin-left: 10px;
    height: auto;
    background-color: white;
    padding-left: 30px;
    padding-right: 5px;
    margin-bottom: 30px;
}

.dataWraper {
    display: flex;
    justify-content: space-around;
    padding: 14px;
    font-size: 10px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 5px;
}

.dataWraper:nth-child(even) {
    background: #e0e0e0;
}

.wrapper {
    border: 5px solid rgb(204, 197, 197); 
    overflow:auto;
    max-width: 300px;
    height: 300px;
}

.rmvBtn {
    border-radius: 50%;
    height: 3px;
    width: 3px;
    color: red;
    cursor: pointer;
    margin-left: 40px;
    font-weight: 800;
}
.titleAdd {
    text-align: unset;
}
.datePicker {
    color: rgb(182, 175, 175);
    flex: 1;
}